:root {
  --header-height: 42px;
  --total-weeks: 6;
}

mat-form-field.disabled-subscritp-wrapper
  > .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.container {
  max-width: 1140px;
  margin: auto;
}
.cell-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  cursor: pointer;
}
.task {
  position: relative;
  z-index: 9;
  padding: 5px 10px; // Padding interno para o conteúdo (título)
  margin-top: 2px; // Margem acima de cada evento
  font-size: 12px;
  display: flex;
  align-items: center; // Alinha o texto/conteúdo verticalmente
  cursor: pointer;

  span {
    text-align: left;
    line-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    flex-grow: 1; /* Permite que o span ocupe o espaço disponível */
    /* justify-content e align-items removidos, pois o checkbox foi removido */
  }

  // Estilos para o segmento inicial de um evento
  &.event-start {
    margin-left: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  // Estilos para os segmentos do meio de um evento
  &.event-middle {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }

  // Estilos para o segmento final de um evento
  &.event-end {
    margin-right: 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &.completed {
    text-decoration: line-through; /* Risca o texto */
    opacity: 0.7; /* Diminui um pouco a opacidade */
    // Você pode adicionar outros estilos para tarefas concluídas aqui, como cor de fundo diferente ou borda.
  }
}
.calendar-view-month {
  table-layout: fixed;
  margin-top: 1rem;
  thead {
    th {
      font-size: 22px;
      font-weight: 100;
      text-align: right;
      border-bottom: 1px solid #ddd;
    }
  }
  tbody {
    tr {
      td {
        &:first-child {
          border-left: 1px solid #ddd;
        }
        vertical-align: top;
        position: relative;
        border-right: 1px solid #ddd;
        height: 150px;
        border-bottom: 1px solid #ddd;
        padding: 3px 0;
        &.selected {
          background-color: #bbdefb;
        }

        &.today {
          background-color: #e3f2fd;
        }
        .date {
          text-align: right;
          font-size: 22px;
          font-weight: 100;
          padding: 5px 10px 0;
        }
      }
    }
  }
}
.calendar-view-week {
  margin-top: 1rem;
  thead {
    th {
      font-size: 22px;
      font-weight: 100;
      text-align: right;
      border-bottom: 1px solid #ddd;
    }
  }
  tbody {
    tr {
      td {
        position: relative;
        border-right: 1px solid #ddd;
        height: 50px;
        border-bottom: 1px solid #ddd;
        padding: 3px 0;
        width: calc(100% / 7);
        &.calendar-slot-cell {
          width: 1%;
          font-size: 12px;
          font-weight: 100;
          border-right: 1px solid #ddd;
          padding-right: 5px;
          vertical-align: top;
          span {
            position: relative;
            top: -12px;
            background: #fff;
            width: 100%;
            display: block;
          }
        }
      }
      &:last-child {
        td {
          border-bottom: none;
          border-right: none;
          &.calendar-slot-cell {
            border-right: none;
          }
          .cell-overlay {
            display: none;
          }
        }
      }
    }
  }
}
.calendar-view-day {
  margin-top: 1rem;
  tr {
    &:first-child {
      td {
        border-top: 1px solid #ddd;
      }
    }
    td {
      position: relative;
      border-bottom: 1px solid #ddd;
      height: 50px;
      padding: 3px 0;
      &.calendar-slot-cell {
        font-size: 12px;
        font-weight: 100;
        border-right: 1px solid #ddd;
        padding-right: 5px;
        vertical-align: top;
        span {
          position: relative;
          top: -12px;
          background: #fff;
          width: 100%;
          display: block;
        }
      }
    }
    &:last-child {
      td {
        border-bottom: none;
        &.calendar-slot-cell {
          border-right: none;
        }
        .cell-overlay {
          display: none;
        }
      }
    }
  }
}
.calendar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    padding: 10px 0;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      margin-top: 10px;
      width: 100%;
      justify-content: center;
      gap: 10px;
    }

    h2 {
      margin: 0;
      @media (max-width: 768px) {
        font-size: 1.5rem;
      }
    }

    .calendar-month {
      font-weight: bold;
      span {
        font-weight: 100;
      }
    }

    .calendar-controls {
      display: flex;
      justify-content: flex-end;
      @media (max-width: 768px) {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
      }
    }

    .employee-filter {
      min-width: 150px;
      @media (max-width: 768px) {
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}
.black-icon {
  color: black;
  svg {
    fill: black;
  }
}
